* {
  margin: 0;
  padding: 0;
}

/* Navigation CSS */

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(48, 48, 48, 0.474);
}

/* Topic */
.topic_container {
  justify-content: center;
  display: flex;
  margin-top: 4em;
}

.topic {
  display: flex;
  flex-direction: row;
  border-radius: 3em;
  background-color: rgba(217, 217, 217, 0.4);
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 2em;
  min-width: 900px;
  height: 500px;
}

.topic_list {
  display: block;
  padding: 0;
  margin: 0;
  padding-right: 2em;
}

.topic_list li {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.SignUp_container {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-bottom: 0;
}

.SignUp {
  font-weight: bolder;
  background-color: rgba(136, 226, 139, 0.4);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1em;
  margin-right: 5em;
}

.topic_arrow {
  margin-left: 2em;
  margin-top: 3.5em;
}

.arrow_list {
  display: block;
  padding: 0;
  margin: 0;
}

.arrow_list img {
  scale: 70%;
}

.arrow_list li {
  margin-bottom: 1em;
}
.arrow_list li:first-child {
  margin-top: 20px;
}
.topic_text {
  padding: 0;
  margin: 0;
  margin-top: 2em;
  margin-left: 0.5em;
}

.arrow_list .second_arrow {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
}

.SignUp_container > ol > li > button {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  background: none;
  border: none;
  font-size: 1.5rem;
  background-color: rgba(136, 226, 139, 0.4);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1em;
  margin-right: 5em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.SignUp_container > ol > li > button:hover {
  background-color: rgba(136, 226, 139, 0.8);
}

.SignUp_container > ol > li > button:active {
  background-color: rgba(136, 226, 139, 1);
}

.SignUp_container > ol > li > img {
  width: 60%;
}

.SignUpButton {
  margin-top: 2em;
}

.topic_list > li > div > img {
  margin-top: -2em;
  width: 15%;
}
.topic_list li:first-child p {
  margin: 0;
}
.notebook_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ServicesBlock */
.Services_container {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
}

.Services {
  margin-top: 10em;
}

.MostPopularServices {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.Services_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Services_contaiener_1 {
  background-color: rgba(217, 217, 217, 0.4);
  width: 25rem;
  padding: 1.5rem;
  border-radius: 15%;
  margin: 2rem;
}

.Services_contaiener_2 {
  background-color: rgba(217, 217, 217, 0.4);
  padding: 1.5rem;
  width: 25rem;
  border-radius: 15%;
  margin: 2rem;
}

.Services_list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  display: block;
}

.Services_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-bottom: 0.5px solid black;
}

.Services_list li:last-child {
  border-bottom: 0px;
}

.Services_button_container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.Services_button_container > a > button {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  background: none;
  border: none;
  font-size: 1.5rem;
  background-color: rgba(136, 226, 139, 0.4);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.Services_button_container > a > button:hover {
  background-color: rgba(136, 226, 139, 0.8);
}

.Services_button_container > a > button:active {
  background-color: rgba(136, 226, 139, 1);
}

/* Contacts */
.Contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Contacts_text_container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.Contacts_text {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
}

.Contacts_block_container {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

.Contacts_block {
  display: flex;
  flex-direction: row;
  padding: 1rem 6rem;
  background-color: rgba(217, 217, 217, 0.4);
  border-radius: 3rem;
}

.block_info {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

.block_info > ul,
.social_logo_list > ul {
  list-style: none;
}

.social_logo_list {
  width: 10%;
  margin: 0;
  text-align: end;
}
.social_logo_list ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 45px;
  text-align: end;
}
.social_logo_list li {
  margin: 0;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: 14px;
}
.block_info > ul {
  margin: 13px 0;
}

.block_info > ul > li {
  margin: 5px 0;
}

.block_info > button {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  background-color: rgba(136, 226, 139, 0.4);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.block_info > button:hover {
  background-color: rgba(136, 226, 139, 0.8);
}

.block_info > button:active {
  background-color: rgba(136, 226, 139, 1);
}

.social_logo_list > ul > li > img {
  width: 1.7rem;
}

.telephone_number {
  display: flex;
  justify-content: center;
}

.tellogo_body {
  height: 1.4rem;
  margin-right: 5px;
}

.find_container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.find_text {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.find_container > a > button {
  background: none;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  background-color: rgba(217, 217, 217, 0.4);
  padding: 1rem 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.find_container > a > button:hover {
  background-color: rgb(245, 96, 91, 0.6);
}

.find_container > a > button:active {
  background-color: rgb(245, 96, 91, 1);
}
@media (max-width: 963px) {
  .Services_card {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1022px) {
  .topic {
    min-width: 650px;
    width: 300px;
  }

  .arrow_list li:first-child {
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .topic_arrow {
    margin-top: 80px;
  }
  .SignUpButton button {
    width: 250px;
  }
  .SignUp_container li:first-child {
    margin-right: 20px;
  }
  .SignUp_container li:first-child img,
  .SignUp_container li:last-child img {
    width: 100px;
  }
  .SignUpButton button {
    margin-right: 70px !important;
  }
}
@media (max-width: 730px) {
  .topic {
    min-width: 550px;
    width: 300px;
  }
  .topic_arrow {
    margin-left: 0;
  }
  .SignUp_container li:last-child img {
    margin-left: 30px;
  }
  .topic_text {
    width: 500px;
  }
  .SignUpButton button {
    margin: 0 !important;
  }
  .notebook_container {
    width: 500px;
  }
  .notebook_container img {
    width: 30px;
    height: auto;
  }
}
@media (max-width: 645px) {
  .block_info > button {
    width: 70%;
    margin: auto;
  }
  .topic_container {
    width: 100%;
    margin-top: 64px;
  }
  .topic {
    min-width: 80%;
    margin: auto;
    padding-bottom: 0;
  }
  .topic_list {
    padding-right: 0;
  }
  .topic_arrow {
    margin-top: 40px;
  }
  .topic_text {
    width: 90%;
    margin-top: 0px;
  }
  .notebook_container {
    display: inline;
  }
  .notebook_container img {
    display: none;
  }
  .arrow_list li:first-child {
    margin-bottom: 35px;
  }
  .arrow_list .second_arrow {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .SignUp_container img {
    display: none;
  }

  .sign_up__list li:first-child {
    display: none;
  }
  .Contacts_block {
    width: 500px;
    padding: 10px;
  }
  .SignUpButton {
    margin-right: 50px;
  }
  .block_info {
    width: 100%;
  }
}
@media (max-width: 567px) {
  .arrow_list .second_arrow {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
@media (max-width: 510px) {
  .SignUpButton button {
    width: 100% !important;
  }
  .SignUpButton {
    margin-top: 10px;
    margin-left: 35px;
  }
  .sign_up__list {
    width: 100%;
  }
  .Services_contaiener_1 ol li,
  .Services_contaiener_2 ol li {
    font-size: 20px;
  }
  .Services_contaiener_1,
  .Services_contaiener_2 {
    width: 80%;
  }

  .Contacts_block {
    width: 90%;
  }
  .topic {
    min-width: 80%;
    width: 300px;
    height: 450px;
    margin: auto;
  }
  .topic_list li {
    font-size: 20px;
  }
  .topic_arrow {
    margin-top: 20px;
  }
  .arrow_list .second_arrow {
    margin-bottom: 15px;
  }
}
@media (max-width: 455px) {
  .topic_arrow {
    margin-top: 50px;
  }
}
@media (max-width: 420px) {
  .social_logo_list ul li img {
    width: 23px;
  }
  .social_logo_list ul li {
    margin-bottom: 8px;
  }
  .topic {
    width: 97%;
    height: 400px;
    padding-bottom: 0;
  }
  .topic_list li {
    font-size: 18px;
  }
  .arrow_list .second_arrow {
    margin-top: 66px;
    margin-bottom: 30px;
  }
  .arrow_list li img {
    width: 30px;
  }
  .topic_arrow {
    margin-top: 25px;
  }
  .block_info {
    width: 80%;
    font-size: 20px;
  }
  .order_call__title {
    font-size: 18px;
  }
  .block_info > button {
    width: 80%;
    font-size: 20px;
    margin: auto;
  }
  .telephone_number {
    margin-right: 20%;
  }
}
@media (max-width: 379px) {
  .block_info {
    font-size: 16px;
  }
  .social_logo_list ul li img {
    width: 20px;
  }
  .social_logo_list ul {
    text-align: center;
    margin-top: 40px;
  }
  .social_logo_list li {
    margin: 0;
    height: 20px;
  }
  .social_logo_list li:last-child {
    margin-top: -4px;
  }
  .tg__logo {
    margin-top: -4px !important;
  }
  .vk__logo {
    margin-top: -4px !important;
  }
}
@media (max-width: 385px) {
  .topic {
    min-width: 0px;
    width: 88%;
    padding: 15px;
    height: 380px;
  }
  .topic_text {
    height: 100%;
  }

  .Services_contaiener_1 ol li,
  .Services_contaiener_2 ol li {
    font-size: 18px;
  }
  .Services_contaiener_1,
  .Services_contaiener_2 {
    width: 80%;
  }
}
@media (max-width: 355px) {
  .sign_button__item {
    font-size: 18px !important;
  }
  .topic_arrow {
    margin-top: 55px;
  }
}
@media (max-width: 320px) {
  .Services_contaiener_1 ol li,
  .Services_contaiener_2 ol li {
    font-size: 16px;
  }
  .SignUpButton {
    margin: 0;
    margin-left: 10px;
  }
  .sign_button__item {
    width: 90%;
  }
  .block_info > button {
    width: 80%;
    font-size: 20px;
  }
}
