.client_sertvices_page__container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.content__wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.error__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.error__text {
  padding: 100px;
  padding-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.client_services__title {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 50px;
}
.command_line__container {
  display: flex;
  flex-direction: row;
}
.command_line__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sort__item {
  display: flex;
  justify-self: center;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
}
.sort_item__list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.select__container {
  width: 350px;
  height: 30px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.sort_arrow__img,
.sort_price_arrow__img {
  margin-left: 5px;
}
.empty_order__container {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.empty_order__container a {
  color: green;
}
.empty_order__container a:hover {
  color: rgba(136, 226, 139, 1);
}
.client_services__title_error {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 100px;
}
.sort_item__price {
  margin-left: 30px;
}
.search__input {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgb(190, 190, 190);
  min-width: 300px;
  min-height: 23px;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.command_search__item {
  margin-left: 50px;
}
.search__text {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.search__icon {
  padding-right: 5px;
}
.search_input__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -5px;
}
.client_main__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.services_panel__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  margin-bottom: 100px;
  background-color: white;
  border: 0.5px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.service__title {
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}
.styles_top__container {
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(207, 207, 207, 0.278);
}

.styles_bottom__container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
.service__list {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1px solid gray;
}
.service__list li {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 0.1px solid gray;
}
.service__list li:last-child {
  border-bottom: 0px;
}
.services__price {
  margin-left: auto;
}

.services_price ul {
  display: flex;
}
.services_price ul li:last-child {
  margin-left: auto;
}
.status__sphere {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: rgb(13, 255, 0);
  margin-right: 10px;
  border: 0.1px solid rgb(146, 145, 145);
}
