.footer_container {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 223, 195);
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer_container > ul {
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_text > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
