.change_password__container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.content__wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.change_password_title__container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.change_password__title {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  font-weight: 300;
}

.change_password_area__container {
  margin: auto;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.change_password_area__container input {
  height: 20px;
  font-size: 1.3rem;
  width: 300px;
  align-items: center;
}
.continue_disabled__btn {
  cursor: inherit !important;
}
.continue__btn,
.continue_disabled__btn {
  margin-top: 20px;
  background: none;
  border: none;
  padding: 0;
  background-color: rgb(199, 223, 195);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: all 0.3s;
}
.continue__btn:hover {
  scale: 105%;
}
.continue__btn:active {
  background-color: rgba(199, 223, 195, 0.634);
}

.select_type__recover__container {
  position: relative;
  display: flex;
  justify-content: center; /* Центрируем содержимое */
  align-items: center;
  margin-top: 20px;
}

.select_type__recover__list {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative; /* Для слайдера */
  margin-bottom: 50px;
}

.select_type__recover__list li {
  margin: 0 10px;
}

.select_type__recover__list a {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1;
  position: relative;
}
.select_type__recover__list a:hover {
  color: black;
}

.stick {
  margin-top: 5px;
}

.slider {
  position: absolute;
  bottom: 46px;
  left: 14%;
  width: 100px;
  height: 30px;
  background-color: rgb(199, 223, 195);
  border-radius: 15px;
  z-index: 0;
  transition:
    transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
}
.example__inpt {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.left {
  transform: translateX(-35px);
  width: 120px; /* Ширина под "по email", скорректируйте под размер текста */
}

.right {
  transform: translateX(115%); /* Корректировка для перемещения слайдера */
  width: 120px; /* Ширина под "по номеру", скорректируйте под размер текста */
}

.input__wrapper {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email__area,
.phone__area {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  border: none;
  padding: 10px 0;
  transition: all 0.2s;
  background: none;
  border-bottom: 1px solid black;
}

.placeholder__label {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: grey;
  transition: all 0.2s;
  pointer-events: none;
}

.email__area:focus,
.phone__area:focus {
  outline: none;
  border-bottom: 1px solid green;
}

.email__area:focus + .placeholder__label,
.email__area:not(:placeholder-shown) + .placeholder__label,
.phone__area:focus + .placeholder__label,
.phone__area:not(:placeholder-shown) + .placeholder__label {
  top: 0;
  font-size: 0.8rem;
  color: green;
}
.enter_code__container {
  display: flex;
  gap: 6;
  flex-direction: column;
}
.error__area {
  font-size: 10px;
  color: red;
}
.recover_password__container {
  display: flex;
  flex-direction: column;
}
.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin-top: 50px;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: green transparent green transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.new_password__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Password_area_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-size: 1rem;
}
.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.Password_area {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  border: none;
  width: 100%;
  padding: 10px 0;
  transition: all 0.2s;
  background: none;
  border-bottom: 1px solid black;
}
.Password_area {
  padding-right: 30px;
}
.placeholderLabel {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: grey;
  transition: all 0.2s;
  pointer-events: none;
}
.Password_area:focus {
  outline: none;
  border-bottom: 1px solid green;
}
.Password_area:focus + .placeholderLabel,
.Password_area:not(:placeholder-shown) + .placeholderLabel {
  top: 0;
  font-size: 0.8rem;
  color: green;
}
.Password_area:focus ~ .eyeButton {
  color: green;
}
.password_change__container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.Error_area {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}
.continue_btn__container {
  display: flex;
  justify-content: center;
}
