.social_nav {
  align-items: center;
}

.location_nav {
  align-items: center;
  margin-left: 200px;
}

.location_nav>li {
  margin-right: 30px;
}

.social_nav {
  margin-right: 100px;
}

.social_nav>li {
  margin-left: 15px;
}

.social_nav>li:first-child {
  margin-right: 50px;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(199, 223, 195);
  height: 3em;
  font-family: "Inter", sans-serif;
  font-weight: medium;
  text-align: end;
}

.bottom_header {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

ol {
  display: flex;
  list-style: none;
}

.logo {
  height: 120px;
}

.tellogo,
.geologo {
  height: 15px;
  margin-right: 5px;
}

.tglogo,
.vklogo,
.wapplogo {
  height: 35px;
}

.main_nav {
  display: flex;
  margin-top: 40px;
}

.main_nav>li {
  margin-left: 80px;
}

.Auth_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
  margin-right: 70px;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(48, 48, 48, 0.474);
}

.bottom_header_left {
  display: flex;
}

.Avatar {
  width: 60px;
  transition: 0.2s ease;
}

.Auth_container>a>p {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.Image_wrapper {
  display: flex;
  justify-content: center;
}

.company_name {
  display: none;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  color: rgba(1, 1, 1, 0.7);
  font-size: 1.8rem;
}

.burger_menu {
  display: none;
}

/* Медиа запросы */
@media (max-width: 1017px) {

  .social_nav {
    display: none;
  }
  .location_nav li {
    display: none;
  }

  .location_nav {
    display: flex;
    margin-left: 0;
    justify-content: center;
  }

  .top_header {
    display: flex;
    justify-content: space-between;
  }

  .location_nav li:last-child {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    margin: 0;
  }

  .burger_menu {
    display: flex;
    order: 2;
    margin-right: 1rem;
  }

  .burger_menu button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0;
  }
}