.social_nav {
  align-items: center;
}

.location_nav {
  align-items: center;
  margin-left: 200px;
}

.location_nav > li {
  margin-right: 30px;
}

.social_nav {
  margin-right: 100px;
}

.social_nav > li {
  margin-left: 15px;
}

.social_nav > li:first-child {
  margin-right: 50px;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(199, 223, 195);
  height: 3em;
  font-family: "Inter", sans-serif;
  font-weight: medium;
  text-align: end;
}

.bottom_header {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

ol {
  display: flex;
  list-style: none;
}

.logo {
  height: 120px;
}

.tellogo,
.geologo {
  height: 15px;
  margin-right: 5px;
}

.tglogo,
.vklogo,
.wapplogo {
  height: 35px;
}

.main_nav {
  display: flex;
  margin-top: 40px;
}

.main_nav > li {
  margin-left: 80px;
}

.Auth_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
  margin-right: 70px;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(48, 48, 48, 0.474);
}

.bottom_header_left {
  display: flex;
}

.Avatar {
  width: 60px;
  transition: 0.2s ease;
}

.Auth_container > a > p {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.Image_wrapper {
  display: flex;
  justify-content: center;
}

.company_name {
  display: none;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  color: rgba(1, 1, 1, 0.7);
  font-size: 1.8rem;
}

.hamburger__menu {
  display: none;
}

/* Медиа запросы */
@media (max-width: 1022px) {
  .top_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .bottom_header {
    margin-top: 50px;
  }
  .hamburger__menu {
    display: block;
  }
  .social_nav {
    display: none;
  }
  .location_nav li {
    display: none;
  }

  .location_nav {
    display: flex;
    margin-left: 0;
    justify-content: center;
  }

  .top_header {
    display: flex;
    justify-content: space-between;
  }

  .location_nav li:last-child {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    margin: 0;
  }

  .main_nav {
    display: none;
  }
  .Auth_container {
    display: none;
  }
  .hamburger__menu {
    display: flex;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.3s;
    z-index: 1;
  }
  .menu__item {
    display: flex;
    justify-content: baseline;
    padding: 12px 24px;
    color: #333;
    font-family: "Inter", sans-serif;
    font-weight: medium;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  .burger_Auth_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .burger_Avatar {
    width: 60px;
    transition: 0.2s ease;
  }

  .burger_Auth_container > a > p {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
  }

  .burger_Image_wrapper {
    display: flex;
    justify-content: center;
  }
}
@media (max-width : 645px){
  .logo {
    height: 100px;
  }
  .bottom_header{
    display: flex;
    justify-content: center;
  }
}