.command_line__container {
  display: flex;
  flex-direction: row;
}
.command_line__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sort__item {
  display: flex;
  justify-self: center;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
}
.sort_item__list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.select__container {
  width: 350px;
  height: 30px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.sort_arrow__img,
.sort_price_arrow__img {
  margin-left: 5px;
}
.command_search__item {
  margin-left: 50px;
}
.search__input {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgb(190, 190, 190);
  min-width: 300px;
  min-height: 23px;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.search__text {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.search__icon {
  padding-right: 5px;
}
.search_input__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -5px;
}
