* {
  padding: 0;
  margin: 0;
}

.services_card {
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 50px;
  flex-direction: row;
  background-color: rgba(217, 217, 217, 0.3);
  border-radius: 30px;
  padding: 50px;
  border: 1px solid rgb(199, 223, 195);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.button_container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.services_button {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  background: none;
  border: none;
  font-size: 1.5rem;
  background-color: rgba(136, 226, 139, 0.4);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.services_button:hover {
  background-color: rgba(136, 226, 139, 0.8);
}

.services_button:active {
  background-color: rgba(136, 226, 139, 1);
}

.services_container_1 {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 223, 195);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 20px;
  margin: 1rem;
}

.services_container_2 {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 223, 195);
  padding: 1.5rem;
  min-width: 25rem;
  border-radius: 20px;
  margin-top: 2rem;
  margin: 1rem;
}

.services_list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  display: block;
}

.services_list li {
  min-width: 500px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid black;
}

.services_list li:last-child {
  border-bottom: 0px;
}

.question_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.question_topic {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
}

.question {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
}

.question_list {
  justify-content: space-between;
}

.question_text {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrowIcon {
  margin-left: auto;
  transition: transform 0.3s;
}

.question_item {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  background-color: rgba(199, 223, 195, 0.4);
  padding: 20px;
  border-bottom: 0.5px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.answer {
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  transition: max-height 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.services_title {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 50px;
  text-align: center;
}

.services_main_container {
  display: flex;
  flex-direction: column;
}

.question_btn:hover {
  color: black;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: green transparent green transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1270px) {
  .services_container_1 {
    min-width: 300px;
    width: 300px;
  }

  .services_container_2 {
    min-width: 300px;
    width: 300px;
  }
  .services_list li {
    min-width: 300px;
    height: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid black;
  }
  .services_card {
    padding: 25px;
  }
  /* .services_card { */
  /* font-size: 3rem; */
  /* margin-bottom: 50px; */
  /* flex-direction: row; */
  /* background-color: rgba(217, 217, 217, 0.3); */
  /* border-radius: 30px; */
  /* padding: 50px; */
  /* border: 1px solid rgb(199, 223, 195); */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  /* } */
}
@media (max-width: 803px) {
  .services_container_1 {
    min-width: 200px;
    width: 200px;
  }

  .services_container_2 {
    min-width: 200px;
    width: 200px;
  }
  .services_list li {
    min-width: 200px;
    height: 75px;
    text-align: center;
  }
}
@media (max-width: 667px) {
  .services_container_1 {
    padding: 0.2rem;
  }

  .services_container_2 {
    padding: 0.2rem;
  }
}
@media (max-width: 535px) {
  .services_container_1 {
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
  }
  .services_container_2 {
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
  }
}
@media (max-width: 466px) {
  .services_list li {
    font-size: 15px;
    border-radius: 15px;
    width: 150px;
    min-width: 150px;
    min-height: 120px;
  }
  .services_container_1 {
    width: 150px;
    min-width: 150px;
  }
  .services_container_2 {
    width: 150px;
    min-width: 150px;
  }
}
@media (max-width: 360px) {
  .services_list li {
    font-size: 13px;
    border-radius: 15px;
    width: 130px;
    min-width: 130px;
    min-height: 120px;
  }
  .services_container_1 {
    width: 130px;
    min-width: 130px;
  }
  .services_container_2 {
    width: 130px;
    min-width: 130px;
  }
}
